// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$dk-gray: #292929;
$orange: #EE6557;
$teal: #16A6B6;
$lt-gray: #B3B3B3;

body {
  // font-family: 'Pathway Gothic One', sans-serif;
  font-family: 'News Cycle', sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #F5F5F5;
  color: $dk-gray;
  letter-spacing: 2px;
}


//------- Nav Bar Styles -----------------

.navbar-default .navbar-toggle {
  border: none;
}

.icon-bar {
  background-color: $dk-gray;
}

a.navbar-brand {
  color: $dk-gray;
}

.navbar a {
  color: $dk-gray;
}

 //------ Login Page Styles-----------------
#login-image {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  background: image_url("shoes2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#login-image a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}

#app-logo {
  color: #FFFFFF;
  font-size: 84px;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 16px;
  margin-top: 35%;
}


#login-link {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
  border-radius: 200px;
  border-width: medium;
}

#login-text {
  margin-top: 40px;
  font-size: 24px;
  // font-family: 'Oswald', sans-serif;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 3px;
}

// desktop
@media (min-width: 600px) {
  #app-logo {
    font-size: 128px;
  }

  #login-image a {
    font-size: 48px;
  }

  #login-link {
    width: 140px;
    height: 140px;
  }

  #login-text {
    margin-top: 55px;
    font-size: 24px;
  }
}

@media (orientation: landscape) {
  #login-link {
    margin-top: 5%;
  }

  #app-logo {
    margin-top: 5%
  }
}


//------ Index Page Styles ---------------------

.date-box {
  font-size: 28px;
  text-align: center;
  letter-spacing: 7px;
}

.steps-box {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.percentage-box-total {
  width: 300px;
  outline-style: solid;
  height: 50px;
  margin: auto;
}

.percentage-box-current-steps {
  height: 50px;
  background-color: $lt-gray;
}

.steps-to-go-box {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 2px;
}

.index-button a:hover {
  text-decoration: none;
}

.index-button {
  width: 90px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hex1{
    background-color: $lt-gray;
    text-align: center;
    line-height: 63.51px;
    height: 63.51px;
    width: 110px;
    margin: 25.98px 0px;
    position: relative;
    // z-index: 1;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

.hex1:after,
.hex1:before{
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    // z-index: -1;
}

.hex1:before{
    border-top: 31.75426px solid transparent;
    border-bottom: 31.75426px solid $lt-gray;
    // top: -100px;
    bottom: 100%;
}

.hex1:after{
    // bottom: -100px;
    top: 100%;
    border-top: 31.75426px solid $lt-gray;
    border-bottom: 31.75426px solid transparent;
}

.hex1.active:before{
    border-bottom: 31.75426px solid #EE6557;
}

.hex1.active:after{
    border-top: 31.75426px solid #EE6557;
}

.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.orange-hex {
  background-color: $orange;
}

.orange-hex:before {
  border-bottom: 31.75426px solid $orange;
}

.orange-hex:after {
  border-top: 31.75426px solid $orange;
}

.teal-hex {
  background-color: $teal;
}

.teal-hex:before {
  border-bottom: 31.75426px solid $teal;
}

.teal-hex:after {
  border-top: 31.75426px solid $teal;
}

.space {
  margin-top: 80px;
}

//------ Results Page Styles -----------------

#map {
  background: transparent image_url("ajax-loader.gif") no-repeat center center;
  width: 100%;
  height:260px;
  font-size: 16px;
}


.logout-link a {
  float: right;
  color: #000000;
}

.logout-link a:hover {
  float: right;
  color: #bfbfbf;
  text-decoration: none;
}

.start-over-button {
  background-color: $teal;
  border-style: none;
  width: 100px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.start-over-box a {
  color: #000000;
}

.start-over-box a:hover {
  background-color: $lt-gray;
  text-decoration: none;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.greeting, .logout-link {
  margin-top: 20px;
}

.greeting {
}

.logout-link {
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.place-box {
  border-style: solid;
  border-width: thin;
  margin: 0;
  padding: 5px;
}

.place-box:hover {
  background-color: $lt-gray;
}

.highlighted-cell {
  background-color: $lt-gray;
}

#trip-description {
  text-align: center;
}

.hex1.results-hex {
  display: inline-block;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.results-display {
  width: 375px;
  margin: auto;
  text-align: center;
}

@media (min-width: 650px) {
  #map {
    width: 650px;
    margin: auto;
  }
  .place-box {
    border-style: solid;
    border-width: thin;
    // margin: 0;
    padding: 5px;
    width: 650px;
    margin: auto;
  }
}

// Iphone 5 adjustment
@media (max-width: 320px) {
  .results-hex {
    margin-left: 5px;
  }
  .results-display {
    width: 320px;
  }

  .results-hex.hex1{
      text-align: center;
      line-height: 51.96px;
      height: 51.96px;
      width: 90px;
      margin: 25.98px 0px;
      font-size: 10px;
  }

  .results-hex.hex1:after,
  .results-hex.hex1:before{
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      content: "";
      position: absolute;
      left: 0;
  }

  .results-hex.hex1:before{
      border-top: 25.9807px solid transparent;
      border-bottom: 25.9807px solid $lt-gray;
      bottom: 100%;
  }

  .results-hex.hex1:after{
      top: 100%;
      border-top: 25.9807px solid $lt-gray;
      border-bottom: 25.9807px solid transparent;
  }

  .results-hex.hex1.orange-hex:before{
      border-top: 25.9807px solid transparent;
      border-bottom: 25.9807px solid $orange;
  }

  .results-hex.hex1.orange-hex:after{
      border-top: 25.9807px solid $orange;
      border-bottom: 25.9807px solid transparent;
  }

  .results-hex.hex1.teal-hex:before{
      border-top: 25.9807px solid transparent;
      border-bottom: 25.9807px solid $teal;
  }

  .results-hex.hex1.teal-hex:after{
      border-top: 25.9807px solid $teal;
      border-bottom: 25.9807px solid transparent;
  }
}

//------ Trips Page Styles -----------------

.btn-group {
  margin-top: 30px;
}

.trip-btn.active, .place-btn.active {
  background-color: #EE6557;
  letter-spacing: 2px;
  padding: none;
}

.btn {
  padding-top: 0px;
  padding-right: 0px;
  text-align: center;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0 !important; // need to override rounded buttons
}

.trip-btn, .place-btn {
  background-color: $lt-gray;
  font-size: 12px;
  font-weight: 300;
  margin-top: 15px;
  padding: none;
  border-style: none;

  // letter-spacing: 2px;
  // margin-left: 2px;
  // margin-right: 2px;
}

.steps-form-box {
  margin-top: 32px;
  letter-spacing: 2px;
}

.current-steps-box {
  padding-left: 30px;
}

.current-steps-box, .steps-needed-box {
  font-size: 16px;
  letter-spacing: 2px;
}

.steps-needed-box {
  text-align: right;
  padding-right: 40px;
}

@media (max-width: 425px) {
  .current-steps-box, .steps-needed-box {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .current-steps-box, .steps-needed-box {
    font-size: 12px;
  }
}

.trip-message {
  margin-top: 15px;
  letter-spacing: 2px;
}

.trip-submit-btn {
  background-color: $teal;
  border-style: none;
  letter-spacing: 2px;
  // width: 100px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.trip-submit-btn:hover {
  background-color: $lt-gray;
  text-decoration: none;
}

.btn-group > .btn, .btn-group-vertical > .btn {
  float: none;
}

.place-toggle {
  margin-top: 40px;
}

// Responsive design for trip page hexagons

// First break point - 5 across
@media (max-width:720px) {
  .place-random.hex1 {
    margin-top: 45px;
  }
}

// Break point - 4 across
@media (max-width: 605px){
  .place-school.hex1 {
    margin-top: 45px;
  }
}

// Break point - 3 across
@media (max-width: 491px){
  .place-museum.hex1 {
    margin-top: 45px;
  }
}

// Break point - 2 across
@media (max-width: 374px){
  .place-restaurant.hex1 {
    margin-top: 45px;
  }
}


//------------------ Hexagon Styling for Index Page ----------------------------
#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding:0.866% 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}
#hexGrid:after {
    content: "";
    display: block;
    clear: both;
}
.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
            transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}
.hex * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexIn {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
}

.hexIn:hover {
  color: $dk-gray;
}

.hexInOrange {
  background-color: #EE6557;
}

.hexInGray {
  background-color: $lt-gray;
}

.hexInTeal {
  background-color: $teal;
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex-text {
  font-size: 18px;
  letter-spacing: 3px;
  // text-align: center;
  padding-top: 42%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
//
// .hex h1, .hex p {
//     width: 102%;
//     left:-1%; /* prevent line on the right where background doesn't cover image */
//     padding: 5%;
//     box-sizing:border-box;
//     background-color: rgba(0, 128, 128, 0.8);
//     font-weight: 300;
//     -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
//             transition:          transform .2s ease-out, opacity .3s ease-out;
// }
// .hex h1 {
//     bottom: 50%;
//     padding-top:50%;
//     font-size: 1.5em;
//     z-index: 1;
//     -webkit-transform:translateY(-100%) translatez(-1px);
//         -ms-transform:translateY(-100%) translatez(-1px);
//             transform:translateY(-100%) translatez(-1px);
// }
// .hex h1:after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 45%;
//     width: 10%;
//     text-align: center;
//     border-bottom: 1px solid #fff;
// }
// .hex p {
//     top: 50%;
//     padding-bottom:50%;
//     -webkit-transform:translateY(100%) translatez(-1px);
//         -ms-transform:translateY(100%) translatez(-1px);
//             transform:translateY(100%) translatez(-1px);
// }


/*** HOVER EFFECT  **********************************************************************/
// .hexIn:hover h1, .hexIn:focus h1,
// .hexIn:hover p, .hexIn:focus p{
//     -webkit-transform:translateY(0%) translatez(-1px);
//         -ms-transform:translateY(0%) translatez(-1px);
//             transform:translateY(0%) translatez(-1px);
// }

/*** SPACING AND SIZING *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
    .hex {
        width: 19.2%; /* = (100-4) / 5 */
        padding-bottom: 22.170%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(9n+6),
    .hex:nth-child(9n+7),
    .hex:nth-child(9n+8),
    .hex:nth-child(9n+9) {
        margin-top: -4.676%;
        margin-bottom: -4.676%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(9n+6):last-child,
    .hex:nth-child(9n+7):last-child,
    .hex:nth-child(9n+8):last-child,
    .hex:nth-child(9n+9):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(9n+6) {
        margin-left: 0.5%;
        clear: left;
    }
    .hex:nth-child(9n+10) {
        clear: left;
    }
    .hex:nth-child(9n+2),
    .hex:nth-child(9n+ 7) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(9n+3),
    .hex:nth-child(9n+4),
    .hex:nth-child(9n+8) {
        margin-right: 1%;
    }
}
@media (max-width: 1200px) and (min-width:901px) {/* <- 4-3  hexagons per row */
    .hex {
        width: 24.25%; /* = (100-3) / 4 */
        padding-bottom: 28.001%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(7n+5),
    .hex:nth-child(7n+6),
    .hex:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(7n+5):last-child,
    .hex:nth-child(7n+6):last-child,
    .hex:nth-child(7n+7):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(7n+2),
    .hex:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(7n+3) {
        margin-right: 1%;
    }
    .hex:nth-child(7n+8) {
        clear: left;
    }
    .hex:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%;
    }
}
@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    .hex {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+4):last-child,
    .hex:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
    .hex:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(5n+6) {
        clear: left;
    }
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    .hex {
        width: 49.5%; /* = (100-1) / 2 */
        padding-bottom: 57.158%; /* =  width / sin(60) */
    }
    .hex:nth-child(3n+3) {
        margin-top: -13.423%;
        margin-bottom: -13.423%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(3n+3):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(3n+3) {
        margin-left: 0.5%;
    }
    .hex:nth-child(3n+2) {
        margin-left: 1%;
    }
    .hex:nth-child(3n+4) {
        clear: left;
    }
}
@media (max-width: 400px) {
  #hexGrid {
      font-size: 13px;
  }
  .date-box, .steps-box {
    font-size: 20px;
  }
  .hex-text {
    font-size: 14px;
    letter-spacing: 3px;
  }
  .steps-to-go-box {
    margin-top: 10px;
    font-size: 16px;
  }
}
